* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
   padding:10px;

  width: 100%;
  min-height: 100vh;
  max-height: auto;
  border: 1px solid #000000;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.form {
  border: 1px solid #000000;
  width: 80%;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.url_bar {
  height: 40px;
  width: 80%;
  padding: 7px;
  border-radius: 7px;
  font-size: medium;
  border: 1px solid black;
}

.method_selector {
  height: c;
  width: 9%;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid #38b000;
  color: #339f3b;
  font-size: 1em;
  font-weight:700;
}
.method_selector:focus{
  border: 2px solid #5fde24;
}
.send_btn {
  height: 40px;
  width: 9%;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #2667ff;
  font-size: 1em ;
  font-weight: bold;
}

.response-div {
  width: 80%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border: 2px solid #000000;
  margin: auto;
}
.response {
  height: 100%;
  width: 100%;
}

.params-div {
  width: 80%;
  min-height: 200px;
  height: auto;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;

  border: 1px solid #000000;
}
.param {
  /* border: 2px solid red ; */
  display: flex;
  justify-content: flex-start;
  height: auto;
  margin: 3px;
  /* border: #000000 1px solid; */

}
.param input[type="text"] {
  width: 30%;
  height: 30px;
  border-radius: 7px;
  margin-right: 10px;
  padding: 3px 7px;
}

.param input[type="checkbox"] {
  width:4%;
  /* height: 25%; */
}

.add_param_btn {
  width: 20%;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 10px;
}

#body_text_area{
  min-height: 150px;
  max-height: auto;
  font-size: 1rem;
  font-family:'Fira Code', 'Consolas', 'Courier New';
  font-family: 'Courier New', Courier, monospace;

}

.Name{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 7px;
  
}